<a href="https://colab.research.google.com/github/sagar2582/AirBnB-Hotel-Booking-Analysis/blob/main/World_Bank_Binary_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt 
import numpy as np 
import os # accessing directory structure
import pandas as pd

In [ ]:
# Connecting to Drive to import the dataset

from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Taiyo/world_bank_dataset.csv')

In [ ]:
# Creating a copy of our dataset for futher use

df_copy = df.copy()

In [ ]:
# First look
df.head()

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P151169,Middle East and North Africa,Kingdom of Morocco;Kingdom of Morocco,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P154943,East Asia and Pacific,Kingdom of Tonga;Kingdom of Tonga,PE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P161382,East Asia and Pacific,Republic of the Marshall Islands;Republic of t...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P163922,East Asia and Pacific,Federated States of Micronesia;Federated State...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P169279,East Asia and Pacific,Samoa;Samoa,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.tail()

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
18836,P006578,Latin America and Caribbean,Republic of Chile;Republic of Chile,PE,Specific Investment Loan,IN,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18837,P037451,Europe and Central Asia,Grand Duchy of Luxembourg;Grand Duchy of Luxem...,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18838,P037362,Europe and Central Asia,Kingdom of Denmark;Kingdom of Denmark,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18839,P037452,Europe and Central Asia,Kingdom of the Netherlands;Kingdom of the Neth...,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18840,P037383,Europe and Central Asia,French Republic;French Republic,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(18841, 57)

# Dataset Information
The shape of our dataset is (18841, 57)

id --> unique id-number for every project i.e., 18841 unique id's

regionname --> points towards the particular region of the world where the project belongs from

countryname --> name of the country

prodline --> product line - PE or RE (No idea what's this. I let the algo work on it)

lendinginstr --> different investment purposes

lendinginstrtype --> type of investment

envassesmentcategorycode --> investment category code

supplementprojectflg --> (No idea what's this) binary categoriacal column

productlinetype --> Single variable column. No use

projectstatusdisplay --> current live status

**status** --> overall status (Target Variable)

and more .....

## I see a lot of columns with a lot of NULL values, so let's start with cleaning our data and making it ready for visualization

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18841 entries, 0 to 18840
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        18841 non-null  object
 1   regionname                18841 non-null  object
 2   countryname               18841 non-null  object
 3   prodline                  18841 non-null  object
 4   lendinginstr              18580 non-null  object
 5   lendinginstrtype          18580 non-null  object
 6   envassesmentcategorycode  12731 non-null  object
 7   supplementprojectflg      18792 non-null  object
 8   productlinetype           18841 non-null  object
 9   projectstatusdisplay      18839 non-null  object
 10  status                    18839 non-null  object
 11  project_name              18841 non-null  object
 12  boardapprovaldate         17172 non-null  object
 13  board_approval_month      17172 non-null  object
 14  closingdate               15296 non-null  object
 15  lendprojectcost           18709 non-null  object
 16  ibrdcommamt               18841 non-null  object
 17  idacommamt                18841 non-null  object
 18  totalamt                  18841 non-null  object
 19  grantamt                  18841 non-null  object
 20  borrower                  12472 non-null  object
 21  impagency                 12288 non-null  object
 22  url                       18841 non-null  object
 23  projectdoc                0 non-null      float64
 24  majorsector_percent       0 non-null      float64
 25  sector1                   18841 non-null  object
 26  sector2                   9810 non-null   object
 27  sector3                   6672 non-null   object
 28  sector4                   4480 non-null   object
 29  sector5                   2770 non-null   object
 30  sector                    18065 non-null  object
 31  mjsector1                 0 non-null      float64
 32  mjsector2                 0 non-null      float64
 33  mjsector3                 0 non-null      float64
 34  mjsector4                 0 non-null      float64
 35  mjsector5                 0 non-null      float64
 36  mjsector                  18065 non-null  object
 37  theme1                    18841 non-null  object
 38  theme2                    9883 non-null   object
 39  theme3                    7508 non-null   object
 40  theme4                    5247 non-null   object
 41  theme5                    2935 non-null   object
 42  theme                     0 non-null      float64
 43  goal                      12188 non-null  object
 44  financier                 7199 non-null   object
 45  mjtheme1name              0 non-null      float64
 46  mjtheme2name              0 non-null      float64
 47  mjtheme3name              0 non-null      float64
 48  mjtheme4name              0 non-null      float64
 49  mjtheme5name              0 non-null      float64
 50  location                  4569 non-null   object
 51  GeoLocID                  4569 non-null   object
 52  GeoLocName                4568 non-null   object
 53  Latitude                  4569 non-null   object
 54  Longitude                 4569 non-null   object
 55  Country                   4451 non-null   object
 56  Unnamed: 56               0 non-null      float64
dtypes: float64(14), object(43)
memory usage: 8.2+ MB

In [ ]:
df.describe(include='all')

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
count,18841,18841,18841,18841,18580,18580,12731,18792,18841,18839,...,0.0,0.0,0.0,4569,4569,4568,4569,4569,4451,0.0
unique,18841,7,206,10,18,4,6,2,1,4,...,NaN,NaN,NaN,4085,3938,4003,3919,3948,2158,NaN
top,P151169,Africa,Republic of India;Republic of India,PE,Specific Investment Loan,IN,B,N,L,Closed,...,NaN,NaN,NaN,0000281132!$!Gaza Strip!$!31.41667!$!34.333328...,0000281132;0000285153,Gaza Strip;West Bank,31.41667;31.66667,34.333328;35.25,CN,NaN
freq,1,5900,806,15119,7702,16399,5738,16831,18841,14625,...,NaN,NaN,NaN,13,19,19,19,13,60,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Handling missing Data

In [ ]:
# Missing Value Count Function

def show_missing():
    missing = df.columns[df.isnull().any()].tolist()
    return missing

# Missing data counts and percentage
print('Missing Data Count')
print(df[show_missing()].isnull().sum().sort_values(ascending = False))
print('--'*50)
print('Missing Data Percentage')
print(round(df[show_missing()].isnull().sum().sort_values(ascending = False)/len(df)*100,2))

Missing Data Count
mjsector4                   18841
majorsector_percent         18841
mjtheme5name                18841
mjtheme4name                18841
mjtheme3name                18841
mjtheme2name                18841
mjtheme1name                18841
theme                       18841
mjsector5                   18841
mjsector3                   18841
mjsector2                   18841
mjsector1                   18841
Unnamed: 56                 18841
projectdoc                  18841
sector5                     16071
theme5                      15906
Country                     14390
sector4                     14361
GeoLocName                  14273
Longitude                   14272
Latitude                    14272
GeoLocID                    14272
location                    14272
theme4                      13594
sector3                     12169
financier                   11642
theme3                      11333
sector2                      9031
theme2                       8958
goal                         6653
impagency                    6553
borrower                     6369
envassesmentcategorycode     6110
closingdate                  3545
board_approval_month         1669
boardapprovaldate            1669
mjsector                      776
sector                        776
lendinginstrtype              261
lendinginstr                  261
lendprojectcost               132
supplementprojectflg           49
status                          2
projectstatusdisplay            2
dtype: int64
----------------------------------------------------------------------------------------------------
Missing Data Percentage
mjsector4                   100.00
majorsector_percent         100.00
mjtheme5name                100.00
mjtheme4name                100.00
mjtheme3name                100.00
mjtheme2name                100.00
mjtheme1name                100.00
theme                       100.00
mjsector5                   100.00
mjsector3                   100.00
mjsector2                   100.00
mjsector1                   100.00
Unnamed: 56                 100.00
projectdoc                  100.00
sector5                      85.30
theme5                       84.42
Country                      76.38
sector4                      76.22
GeoLocName                   75.76
Longitude                    75.75
Latitude                     75.75
GeoLocID                     75.75
location                     75.75
theme4                       72.15
sector3                      64.59
financier                    61.79
theme3                       60.15
sector2                      47.93
theme2                       47.55
goal                         35.31
impagency                    34.78
borrower                     33.80
envassesmentcategorycode     32.43
closingdate                  18.82
board_approval_month          8.86
boardapprovaldate             8.86
mjsector                      4.12
sector                        4.12
lendinginstrtype              1.39
lendinginstr                  1.39
lendprojectcost               0.70
supplementprojectflg          0.26
status                        0.01
projectstatusdisplay          0.01
dtype: float64

## Removing Features with over 40% missing values

In [ ]:
# Now working on df_copy

df_copy = df_copy.drop(['mjsector4','mjtheme5name','mjtheme4name','mjtheme3name','mjtheme2name','mjtheme1name','mjsector5','mjsector3',
                        'mjsector2','mjsector1','Unnamed: 56','sector5','theme5','Country','sector4','GeoLocName','Longitude','Latitude','GeoLocID',
                        'location','theme4','sector3','financier','theme3','sector2','theme2','projectdoc ','theme ','majorsector_percent '], axis = 1)

In [ ]:
# Missing Value Count Function

def show_missing():
    missing = df_copy.columns[df_copy.isnull().any()].tolist()
    return missing

# Missing data counts and percentage
print('Missing Data Count')
print(df_copy[show_missing()].isnull().sum().sort_values(ascending = False))
print('--'*50)
print('Missing Data Percentage')
print(round(df_copy[show_missing()].isnull().sum().sort_values(ascending = False)/len(df_copy)*100,2))

Missing Data Count
goal                        6653
impagency                   6553
borrower                    6369
envassesmentcategorycode    6110
closingdate                 3545
boardapprovaldate           1669
board_approval_month        1669
sector                       776
mjsector                     776
lendinginstr                 261
lendinginstrtype             261
lendprojectcost              132
supplementprojectflg          49
projectstatusdisplay           2
status                         2
dtype: int64
----------------------------------------------------------------------------------------------------
Missing Data Percentage
goal                        35.31
impagency                   34.78
borrower                    33.80
envassesmentcategorycode    32.43
closingdate                 18.82
boardapprovaldate            8.86
board_approval_month         8.86
sector                       4.12
mjsector                     4.12
lendinginstr                 1.39
lendinginstrtype             1.39
lendprojectcost              0.70
supplementprojectflg         0.26
projectstatusdisplay         0.01
status                       0.01
dtype: float64

In [ ]:
df_copy.columns

Index(['id', 'regionname', 'countryname', 'prodline', 'lendinginstr',
       'lendinginstrtype', 'envassesmentcategorycode', 'supplementprojectflg',
       'productlinetype', 'projectstatusdisplay', 'status', 'project_name',
       'boardapprovaldate', 'board_approval_month', 'closingdate',
       'lendprojectcost', 'ibrdcommamt', 'idacommamt', 'totalamt', 'grantamt',
       'borrower', 'impagency', 'url', 'projectdoc ', 'majorsector_percent ',
       'sector1', 'sector', 'mjsector', 'theme1', 'theme ', 'goal'],
      dtype='object')

Further Inspecting each column and checking the relevance for our result

## **goal**

In [ ]:
df_copy['goal'].unique()

array(['Corporate Advocacy Priorities;Corporate Advocacy Priorities;CAP;Corporate Advocacy Priorities|Millennium Development Goals;CAP|MDG;Corporate Advocacy Priorities;CAP',
       nan,
       'Global Public Goods Priorities|Millennium Development Goals;Global Public Goods Priorities|Millennium Development Goals;GPG|MDG;Corporate Advocacy Priorities;CAP;Millennium Development Goals|Global Public Goods Priorities;MDG|GPG',
       ...,
       'Corporate Advocacy Priorities;Corporate Advocacy Priorities;CAP;Corporate Advocacy Priorities;CAP;Corporate Advocacy Priorities|Millennium Development Goals;CAP|MDG;Global Public Goods Priorities|Millennium Development Goals;GPG|MDG;Corporate Advocacy Priorities;CAP',
       'Corporate Advocacy Priorities|Millennium Development Goals;Corporate Advocacy Priorities|Millennium Development Goals;CAP|MDG;Corporate Advocacy Priorities;CAP;Corporate Advocacy Priorities;CAP;Corporate Advocacy Priorities|Global Public Goods Priorities|Millennium Development Goals;CAP|GPG|MDG;Corporate Advocacy Priorities;CAP',
       'Corporate Advocacy Priorities|Millennium Development Goals;Corporate Advocacy Priorities|Millennium Development Goals;CAP|MDG;Global Public Goods Priorities|Millennium Development Goals;GPG|MDG;Corporate Advocacy Priorities;CAP;Global Public Goods Priorities|Millennium Development Goals;GPG|MDG;Corporate Advocacy Priorities;CAP'],
      dtype=object)

This column does not contain any relevance to out target variable and hence will be removed

## **impagency**

This column contains different agencies codes, and can be important in making decisions, thus imputing this column with 'mean'.

In [53]:
df_copy['impagency'].value_counts()

IIST                          4003
EET                            301
T                              290
EPATET                         188
SECETAIA                        98
                              ...
AEEE                             1
ELECTICA                         1
L CU                             1
CS LA P                          1
RCPG                IPMENT       1
Name: impagency, Length: 3462, dtype: int64

In [62]:
# Imputing with mode, as IIST agency appeared 12 times more than any observation

df_copy['impagency'] = df_copy['impagency'].fillna(df_copy['impagency'].mode()[0])
print('impagency Missing values After Imputing:', df_copy['impagency'].isnull().sum())

impagency Missing values After Imputing: 0

## **borrower**
Similar to the 'impagency' column this column has the name of the borrowing agency

In [63]:
df_copy['borrower'].value_counts()

EET         3652
EPULIC      1640
IIST         749
I            274
T            258
            ...
CAIC           1
LAL IT         1
IH             1
UEAU           1
ECCIECIA       1
Name: borrower, Length: 1639, dtype: int64